/* basic styles */
body {
  color: #111;
}

header a, main#index h2 a {
  color: #111 !important;
}

header h2 {
  color: #333;
}

main#index .summary p {
  margin-top: 10px;
}

main#index h2 a:hover {
  text-decoration: underline;
}

main#index .summary .permalink {
  text-align: right;
  text-decoration: underline;
}

.article-header {
  border-color: #999;
}

/* img */
article img {
  margin: 0;
}

figcaption p {
  font-size: 12px;
  margin: 5px;
  color: #999;
}

/* slideshare */
@media screen and (max-width: 480px) {
  article iframe.slideshare {
    width: 429px;
    height: 357px;
  }
}
