/* basic styles */
body {
  color: #111;
}

header a, .summary h2 a {
  color: #111 !important;
}

header h2, {
  color: #333;
}

.summary p {
  margin-top: 10px;
}

.summary h2 a:hover {
  text-decoration: underline;
}

.summary .permalink {
  text-align: right;
  text-decoration: underline;
}

.article-header {
  border-color: #999;
}

/* img */
article img {
  margin: 0;
}

figcaption p {
  font-size: 12px;
  margin: 5px;
  color: #999;
}

/* list */
article ul {
  margin-bottom: 15px;
}

/* slideshare */
@media screen and (max-width: 480px) {
  article iframe.slideshare {
    width: 429px;
    height: 357px;
  }
}

/* doraemon */
@media (max-width: 768px) {
  #doraemon-birthday:before {
    content: "\A" ;
    white-space: pre ;
  }
}
