/* font color */
body {
  color: #111;
}

header a, .summary h2 a {
  color: #111 !important;
}

header h2 {
  color: #333;
}

/* link decoration */
a:hover {
  text-decoration: underline;
}

#site-title a:hover {
  text-decoration: none;
}


/* article header */
.article-header {
  border-color: #999;
}

/* summary */
.summary p {
  margin-top: 10px;
}

.summary .permalink {
  text-align: right;
  text-decoration: underline;
}

.summary .meta a {
  color: #999 !important;
}

/* img */
article img {
  margin: 0;
}

figcaption p {
  font-size: 12px;
  margin: 5px;
  color: #999;
}

/* list */
article ul {
  margin-bottom: 15px;
}

/* slideshare */
@media screen and (max-width: 480px) {
  article iframe.slideshare {
    width: 429px;
    height: 357px;
  }
}

/* subtitle */
@media (max-width: 767px) {
  #doraemon-birthday:before {
    content: "\A" ;
    white-space: pre ;
  }
}

@media (min-width: 768px) {
  .site-subtitle:after {
    content: "。" ;
    white-space: pre ;
  }
}

/* sidebar */
#sidebar h3 {
  border-left: 4px solid #999;
  /* border-bottom: 1px solid #ddd; */
  padding: 0 0 0 10px;
  margin: 10px 0;
}

#sidebar ul {
  margin-left: 1em;
}

#sidebar li a {
  /* color: #29abe2; */
  color: #111;
}

/* tag page */
main.tag {
  margin-bottom: 30px;
}
