{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      {{ partial "article_meta.html" . }}
    </div>
    <article>
      {{ .Content }}
      {{ partial "share_this.html" . }}

    </article>
    {{ partial "disqus.html" . }}
  </main>

  {{ if eq .Type "post" }}
  <nav class="pagination-single">
    {{ if .PrevInSection }}
      <span class="previous">&larr; <a href="{{ .NextInSection.Permalink }}" rel="prev">{{ .Next.Title }}</a></span>
    {{ end }}
    {{ if .NextInSection }}
      <span class="next"><a href="{{ .PrevInSection.Permalink }}" rel="next">{{ .Prev.Title }}</a> &rarr;</span>
    {{ end }}
  </nav>
  {{ end }}

{{ partial "footer.html" . }}
