{{ $tags := .Site.Data.tags }}
{{ $authors := .Site.Data.authors }}
<div class="meta">
  {{ if eq .Type "post" }}
    <span>{{ .Date.Format "2006/01/02" }}</span>
  {{ end }}
  {{ if .Params.tags }}
    <span>|</span>
    {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">#{{ index $tags (printf "%s" . ) }}</a>&nbsp;
    {{ end }}
  {{ end }}
  {{ with .Params.authors }}
    <span>
      |&nbsp;
      <a href="/authors/{{ . | urlize }}">{{ (index $authors (printf "%s" .)).name }}</a>&nbsp;
    </span>
  {{ end }}
</div>
