<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="UTF-8">
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}
    {{ if eq .Data.Singular "tag" }}
      {{ if .Data.Terms }}
        タグ
      {{ else }}
        {{ index .Site.Data.tags (.Title | urlize) }}
      {{ end }}
    {{ else if eq .Data.Singular "author" }}
      {{ if .Data.Terms }}
        メンバー
      {{ else }}
        {{ (index .Site.Data.authors (.Title | urlize)).name }}
      {{ end }}
    {{ else }}
      {{ .Title }}
    {{ end }}
    {{ if eq $isHomePage false }}&nbsp;|&nbsp;{{ .Site.Title }}{{ end }}
  </title>

  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1" />
  <meta name="google-site-verification" content="DmTgCYn-qNNekSNxji7FGHMXvq3_4vrKm3pkvI9llLo" />
  <link rel="canonical" href="{{ .Permalink }}"/>

  <link rel="stylesheet" href="/css/sanitize.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link rel="stylesheet" href="/css/highlight_github.css" />
  <link rel="stylesheet" href="/css/theme.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/custom.css" />

  <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

  <link rel="shortcut icon" href="/images/favicon.ico" />

  <!--formrun-->
  <script src="https://sdk.form.run/js/v2/formrun.js"></script>
  <link rel="stylesheet" href="/css/formrun_blog.css" />

</head>

<body>
<div class="container">
  <header role="banner">
    <div class="row gutters">
      <div id="site-title" class="col span_8">
        <h1>
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        {{ with .Site.Params.subtitle }}
          <h2 class="row">
            <span class="site-subtitle">{{ . }}</span>
            <span id="doraemon-birthday" class="site-subtitle"></span>
          </h2>
        {{ end }}
      </div>
      <div id="social" class="col span_4">
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/tags">TAG</a></li>
          {{ with .Site.Params.twitter }}<li><a href="{{ . }}" target="_blank">Twitter</a></li>{{ end }}
          {{ with .Site.Params.facebook }}<li><a href="{{ . }}" target="_blank">Facebook</a></li>{{ end }}
          {{ with .Site.Params.github }}<li><a href="{{ . }}" target="_blank">GitHub</a></li>{{ end }}
          {{ if .Site.Params.showsRSS }}<li><a href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml" target="_blank">RSS</a></li>{{ end }}
        </ul>
      </div>
    </div>
  </header>
