<div id="sidebar" class="row gutters">
  <div class="col span_6">
    <h3>最新記事</h3>
    <ul>
      {{ range first 5 (where .Site.Pages "Type" "post") }}
        <li><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></li>
      {{ end }}
    <ul>
  </div>
  <div class="col span_6">
    <h3>タグ</h3>
    <ul class="tags">
      {{ $taxonomies := .Site.Data.taxonomies }}
      {{ range $key, $value := .Site.Taxonomies.tags.ByCount }}
        <li>
          <a href="/tags/{{ $value.Name | urlize }}">
            {{ default $value.Name (index $taxonomies ($value.Name | urlize)) }} ({{ $value.Count }})
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
