<script>
window.fbAsyncInit = function() {
  FB.init({
    appId: "{{ index .Params 0}}",
    xfbml: true,
    version: "v2.6"
  });
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) { return; }
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-messengermessageus"
  messenger_app_id="{{ index .Params 0 }}"
  page_id="{{ index .Params 1 }}">
</div>
