<pre><code class="language-sh hljs bash">$ cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=<span class="hljs-number">16.04</span>
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION=<span class="hljs-string">"Ubuntu 16.04.1 LTS"</span>
</code></pre>
<pre><code class="language-sh hljs bash">$ uname <span class="hljs-operator">-a</span>
Linux vagrant <span class="hljs-number">4.4</span>.<span class="hljs-number">0</span>-<span class="hljs-number">31</span>-generic <span class="hljs-comment">#50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux</span>
</code></pre>
